.link{
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    text-transform: uppercase;
    transition: all 125ms ease-in-out;
}

.link:hover{
    color: #ffe100;
    text-decoration: none;
}