h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
  position: relative;
}

.my-masonry-grid .image .content {
  /* display: none; */
  cursor: pointer;
  /* display: flex; */
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* top: 0;0 */
  /* justify-content: center; */
  /* padding: 1em; */
  background-color: transparent;
  opacity: 0;
}

.my-masonry-grid .image .bg-color{
  height: 100%;
  background-color: rgba(230, 255, 4, 0.75);
}

.my-masonry-grid .image:hover .content {
  /* display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  justify-content: center;
  padding: 1em;
  background-color: transparent; */
  opacity: 1;
}

.my-masonry-grid .image img {
  /* filter: ; */
  /* position: relative; */
  /* z-index: 1; */
}
