.maing-bg {
  background-color: #ffe100;
}

.main-color {
  color: #ffe100;
}

* {
  font-weight: bold;
}

.btn {
  font-weight: bold;
}

.btn-warning {
  background-color: #fbe831;
  border-color: #fbe831;
  /* border: 0px; */
}

.section-pad {
  padding-top: 5em;
  padding-bottom: 5em;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 239, 0, 0.37);
}

*{
  transition: all 225ms ease-in-out;
}